
.container{
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  background: #fff;
  color: #252525;
  flex-wrap: wrap;
}
.item1{
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  padding-left: 8%;
  animation: jumpItem1 .5s ease-in-out ;
}
.lists{
  list-style: none;
  font-size: 16px;
}
.list{
  margin-bottom: 15px;
  display: flex;
  gap: 10px;
}
.icon{
  color: #5867ba;
  font-size: 20px;
}
.item1 h1{
  font-size: 90px;
}
.item1 p{
  font-size: 16px;
}
.form{
  position: relative;
  max-width: 70%;
}
.form label{
 font-size: 12px; 
 font-weight: bold;
}
.form .error{
  position: absolute;
  top: 10px;
  right: 0;
  font-size: 13px;
  color: red;
}
.form input{
  min-width: 100%;
  height: 50px;
  padding: 10px;
  margin-top:10px;
  margin-bottom: 20px;
  border: 1px solid black;
  border-radius: 5px;
  color: #252525;
  background-color: transparent;
  font-size: 16px;
}
.item2{
  flex: 1;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.image{
  height: 90%;
  min-width: 75%;
  margin-inline: 30px;
  border-radius: 10px ;
}

@keyframes jumpItem1 {
  from{
    transform: translateX(-1000px);
  }
}


/* Mobile Application */


@media screen and (max-width: 450px) {
  .container{
        width: 100%;
    display: flex;
    flex-direction: column-reverse;
    overflow-x: scroll;
    flex-wrap: nowrap;
  }
  .item1{
    padding:0;
    justify-content: end;
    margin: 18px;
    margin-bottom: 35px;
  }
  .item1 h1{
    font-size: 40px;
    
  }
  .form{
    min-width: 100%;
  }
  .item2{
    width:100%;
    max-height: 300px;
  }
  .image{
    object-fit: cover;
    margin: 0;
    border-radius:0px 0px 20px 20px;
  }

}